.advantages__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 30px;
  padding-bottom: 15px;
}

.advantages__title {
  margin: 0;
  margin-bottom: 22px;
}

.advantages__list {
  @include list-reset;
  display: grid;
  grid-template-columns: 1fr;
}

.advantages__item {
  margin-bottom: 23px;
  padding-top: 60px;
  font-size: 17px;
  line-height: math.div(20, 17);
  font-weight: 700;
  color: $color-title;
  background-repeat: no-repeat;
  background-size: auto;

  &--eco {
    background-image: url("../img/decor/advantages-icon-1.svg");
    background-position: top 5px left 8px;
  }

  &--knit {
    background-image: url("../img/decor/advantages-icon-2.svg");
    background-position: top 8px left 3px;
  }

  &--price {
    background-image: url("../img/decor/advantages-icon-3.svg");
    background-position: top 6px left;
  }

  &--maker {
    background-image: url("../img/decor/advantages-icon-4.svg");
    background-position: top 10px left;
  }

  &--like {
    background-image: url("../img/decor/advantages-icon-5.svg");
    background-position: top 11px left 7px;
  }

  &--gift {
    background-image: url("../img/decor/advantages-icon-6.svg");
    background-position: top 7px left 3px;
  }
}

.advantages__item:nth-child(even) {
  order: 1;
}

@media (min-width: $medium-width) {
  .advantages__wrapper {
    width: 768px;
    padding: 50px;
    padding-bottom: 30px;
  }

  .advantages__title {
    margin-bottom: 37px;
  }

  .advantages__list {
    grid-template-columns: 1fr 1fr;
  }

  .advantages__item {
    margin-bottom: 51px;
    padding-right: 20px;
    font-size: 20px;
    line-height: math.div(22, 20);
  }

  .advantages__item:nth-child(even) {
    order: 0;
  }
}

@media (min-width: $large-width) {
  .advantages__wrapper {
    width: 1150px;
    margin-bottom: 0;
    padding: 36px 225px;
  }
}
