.button {
  display: block;
  padding: 16px;
  font-family: $font-button;
  font-style: normal;
  font-size: 18px;
  line-height: math.div(20, 18);
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-main-button-text;
  background-color: $color-main-button-background;
  border: 2px solid $color-main-button-border;
  cursor: pointer;
}
