.cart__link {
  background-image: url("../img/decor/menu-cart.svg");
  background-repeat: no-repeat;
  background-position: 30px 50%;
  background-size: 21px 18px;
}

@media (min-width: $medium-width) {
  .cart__link {
    padding-left: 82px;
  }
}
