.cart-form__fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

.cart-form__legend {
  padding: 0;
  text-align: center;
}

.cart-form__list {
  @include list-reset;
}

.cart-form__label {
  font-size: 17px;
  line-height: math.div(16, 17);
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.cart-form__add {
  display: block;
  width: 260px;
  padding: 18px;
  font-family: $font-button;
  font-style: normal;
  font-size: 17px;
  line-height: math.div(16, 17);
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #63d1bb;
  border: 0;
  cursor: pointer;
}
