.cart-form__fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  border: 0;
}

.cart-form__legend {
  margin-bottom: 22px;
  padding: 0;
  text-align: center;
}

.cart-form__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
}

.cart-form__item:not(:last-child) {
  margin-right: 6px;
}

.cart-form__label {
  display: block;
  width: 82px;
  min-height: 52px;
  padding: 16px;
  font-size: 17px;
  line-height: math.div(16, 17);
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid $color-modal-item-border;

  &:hover {
    border-color: $color-modal-item-border-hover;
  }
}

.cart-form__input:checked ~ .cart-form__label {
  border-color: $color-modal-item-border-active;
}

.cart-form__input {
  @include visually-hidden;
}

.cart-form__add {
  display: block;
  width: 260px;
  padding: 18px;
  font-family: $font-button;
  font-style: normal;
  font-size: 17px;
  line-height: math.div(16, 17);
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: $color-modal-button-text;
  background-color: $color-modal-button-background;
  border: 0;
  cursor: pointer;

  &:hover {
    background-color: $color-modal-button-background-hover;
  }

  &:active {
    background-color: $color-modal-button-background-active;
  }
}

@media (min-width: $medium-width) {
  .cart-form__legend {
    margin-bottom: 20px;
    font-size: 17px;
    line-height: math.div(30, 17);
  }

  .cart-form__label {
    width: 112px;
  }

  .cart-form__add {
    width: 350px;
  }
}
