.catalog__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 30px;
}

.catalog__list {
  @include list-reset;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 30px;
}

@media (min-width: $medium-width) {
  .catalog__wrapper {
    width: 768px;
    padding: 50px;
  }

  .catalog__list {
    row-gap: 54px;
  }
}

@media (min-width: $large-width) {
  .catalog__wrapper {
    width: 1150px;
  }

  .catalog__list {
    grid-template-columns: repeat(auto-fit, 316px);
    column-gap: 50px;
  }
}
