.contacts__wrapper {
  display: grid;
  grid-template-areas:
    ".           contact-title   contact-title   .          "
    ".           contact-address contact-address .          "
    "contact-map contact-map     contact-map     contact-map"
    ".           contact-button  contact-button  .          ";
  grid-template-columns: 1fr 160px 160px 1fr;
  margin: 0 auto;
}

.contacts__title {
  grid-area: contact-title;
  margin: 0;
  margin-bottom: 28px;
  padding: 0 30px;
}

.contacts__list {
  grid-area: contact-address;
  display: flex;
  flex-direction: column;
  margin-bottom: 62px;
  padding: 0 30px;
  font-style: normal;
  font-size: 14px;
  line-height: math.div(30, 14);
}

.contacts__item {
  display: flex;
  margin: 0;
}

.contacts__text {
  margin-right: 20px;
}

.contacts__email {
  @include link-style;
  color: $color-main;
}

.contacts__map {
  grid-area: contact-map;
  margin-bottom: 42px;
}

.contacts__write {
  grid-area: contact-button;
  justify-self: center;
  width: 260px;
}

@media (min-width: $medium-width) {
  .contacts__wrapper {
    grid-template-columns: 1fr 384px 384px 1fr;
  }

  .contacts__title {
    padding: 0 50px;
  }

  .contacts__list {
    flex-direction: row;
    padding: 0 50px;
    font-size: 17px;
    line-height: math.div(30, 14);
  }

  .contacts__item {
    width: 332px;
  }

  .contacts__item:not(:last-child) {
    margin-right: 30px;
  }

  .contacts__write {
    align-self: start;
  }
}

@media (min-width: $large-width) {
  .contacts__wrapper {
    grid-template-areas:
      ". contact-title   contact-map"
      ". contact-address contact-map"
      ". contact-button  contact-map";
    grid-template-columns: 120px 403px 527px;
    width: 1150px;
    padding: 0 50px;
  }

  .contacts__list {
    flex-direction: column;
  }
}
