.contacts__wrapper {
  display: grid;
  grid-template-areas:
    ".           contact-title   contact-title   .          "
    ".           contact-address contact-address .          "
    "contact-map contact-map     contact-map     contact-map"
    ".           contact-button  contact-button  .          ";
  grid-template-columns: 1fr 160px 160px 1fr;
  margin: 0 auto;
  margin-bottom: 28px;
  padding: 10px 0;
}

.contacts__title {
  grid-area: contact-title;
  margin: 0;
  margin-bottom: 28px;
  padding: 0 30px;
}

.contacts__list {
  grid-area: contact-address;
  display: flex;
  flex-direction: column;
  margin-bottom: 62px;
  padding: 0 30px;
  font-style: normal;
  font-size: 14px;
  line-height: math.div(30, 14);
}

.contacts__item {
  display: flex;
  margin: 0;

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.contacts__text {
  width: 60px;
  margin-right: 18px;
}

.contacts__email {
  @include link-style;
  position: relative;
  color: $color-main;

  &::after {
    position: absolute;
    right: 0;
    bottom: 4px;
    left: 0;
    content: "";
    height: 1px;
    background-color: $color-contact-underline;
  }

  &:hover {
    color: $color-contact-mail-hover;
  }

  &:focus {
    outline: 2px solid $color-outline;
    outline-offset: 2px;
  }

  &:active {
    color: $color-contact-mail-active;
    outline: none;
  }

  &:hover::after {
    background-color: $color-contact-underline-hover;
  }

  &:active::after {
    background-color: $color-contact-underline-active;
  }
}

.contacts__address {
  width: 180px;
}

.contacts__map {
  grid-area: contact-map;
  margin-bottom: 40px;
}

.contacts__write {
  grid-area: contact-button;
  justify-self: center;
  width: 260px;
}

@media (min-width: $medium-width) {
  .contacts__wrapper {
    grid-template-columns: 1fr 384px 384px 1fr;
    margin-bottom: 14px;
    padding: 42px 0;
  }

  .contacts__title {
    position: relative;
    margin-bottom: 48px;
    padding-right: 200px;
    padding-left: 50px;

    &::after {
      position: absolute;
      top: -24px;
      right: 54px;
      content: "";
      width: 47px;
      height: 81px;
      background-image: url("../img/decor/contact-flag.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

  .contacts__list {
    flex-direction: row;
    margin-bottom: 48px;
    padding: 0 50px;
    font-size: 17px;
    line-height: math.div(30, 17);
  }

  .contacts__item {
    width: 332px;
    margin: 0;
  }

  .contacts__email {
    &::after {
      bottom: 30px;
    }
  }

  .contacts__address {
    width: 230px;
  }

  .contacts__map {
    margin-bottom: 56px;
  }

  .contacts__write {
    align-self: start;
    width: 230px;
    font-size: 17px;
    line-height: math.div(20, 17);
  }
}

@media (min-width: $large-width) {
  .contacts__wrapper {
    grid-template-areas:
      "contact-title   contact-map"
      "contact-address contact-map"
      "contact-button  contact-map";
    grid-template-columns: 400px 527px;
    grid-template-rows: min-content 1fr min-content;
    width: 1150px;
    margin-bottom: 62px;
    padding: 42px 50px 42px 175px;
  }

  .contacts__title {
    margin-top: 80px;
    margin-bottom: 34px;
    padding: 0 50px;

    &::after {
      top: -18px;
      right: auto;
      left: -64px;
    }
  }

  .contacts__list {
    flex-direction: column;
    margin-bottom: 28px;
  }

  .contacts__email {
    &::after {
      bottom: -6px;
    }
  }

  .contacts__write {
    justify-self: start;
    margin-left: 50px;
  }

  .contacts__map {
    margin: 0;
  }
}
