.copyright {
  @include link-style;
  display: flex;
  align-items: center;
  padding: 24px;

  &:focus {
    outline: 2px solid $color-outline;
    outline-offset: -2px;
  }

  &:active {
    outline: none;
  }
}

.copyright__text {
  margin: 0;
  margin-right: 26px;
  font-size: 19px;
  line-height: math.div(18, 19);
  font-weight: 700;
  color: $color-title;
}

.copyright__image {
  @include image-normalize;
  width: 27px;
  height: 34px;
}

@media (min-width: $medium-width) {
  .copyright {
    width: 200px;
    margin-right: -10px;
    padding: 10px;
  }
}
