.copyright {
  @include link-style;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 24px;
  color: $color-title;

  &:hover {
    color: $color-title-hover;
  }

  &:focus {
    outline: auto;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid $color-outline;
    outline-offset: -2px;
  }

  &:active {
    color: $color-title-active;
    outline: none;
  }
}

.copyright:hover .copyright__image {
  fill: $color-footer-copyright-logo-hover;
}

.copyright:active .copyright__image {
  opacity: 0.3;
}

.copyright__text {
  max-width: 130px;
  margin: 0;
  margin-right: 26px;
  font-size: 19px;
  line-height: math.div(18, 19);
  font-weight: 700;
}

.copyright__image {
  @include image-normalize;
  width: 27px;
  height: 34px;
  fill: $color-footer-copyright-logo;
}

@media (min-width: $medium-width) {
  .copyright {
    width: 210px;
    margin-right: -10px;
    padding: 10px;
  }
}

@media (min-width: $large-width) {
  .copyright {
    margin-right: -8px;
  }
}
