.form__wrapper {
  margin-bottom: 56px;
}

@media (min-width: $medium-width) {
  .form__wrapper {
    margin-bottom: 50px;
  }
}

@media (min-width: $large-width) {
  .form__wrapper {
    margin-bottom: 46px;
  }
}
