.header-submenu {
  font-size: 15px;
  line-height: math.div(24, 15);
  font-weight: 700;
  color: $color-title;
}

.header-submenu__list {
  @include list-reset;
}

.header-submenu__link {
  @include link-style;

  &:hover {
    color: $color-title-hover;
  }

  &:focus {
    outline: 2px solid $color-outline;
    outline-offset: -6px;
  }

  &:active {
    color: $color-title-active;
    outline: none;
  }
}

.header-submenu__delivery {
  width: 260px;
  margin: 0;
  padding: 10px;
  font-weight: 400;
  text-align: right;
  color: $color-main;
}

@media (min-width: $medium-width) {
  .header-submenu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .header-submenu__list {
    display: none;
  }
}

@media (min-width: $large-width) {
  .header-submenu {
    justify-content: space-between;
  }

  .header-submenu__list {
    display: flex;
    flex-wrap: wrap;
    width: 430px;
  }

  .header-submenu__item:not(:last-child) {
    margin-right: 42px;
  }

  .header-submenu__link {
    padding: 20px 10px;
  }
}
