.header-submenu {
  font-size: 15px;
  line-height: math.div(24, 15);
  font-weight: 700;
  color: $color-title;
}

.header-submenu__list {
  @include list-reset;
}

.header-submenu__link {
  @include link-style;

  &:hover {
    color: $color-title-hover;
  }

  &:focus {
    outline: 2px solid $color-outline;
    outline-offset: -6px;
  }

  &:active {
    color: $color-title-active;
    outline: none;
  }
}

.header-submenu__offer {
  width: 260px;
  margin: 0;
  padding: 20px 10px;
  font-weight: 400;
  text-align: right;
  color: $color-main;
}

@media (min-width: $medium-width) {
  .header-submenu {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: $color-intro-background;
    border-top: 1px solid $color-shadow-line;

    &::before,
    &::after {
      z-index: -1;
      position: absolute;
      top: -1px;
      content: "";
      height: 105%;
      width: 100vw;
      background-color: $color-intro-background;
      border-top: 1px solid $color-shadow-line;
    }

    &::before {
      left: 100%;
    }

    &::after {
      right: 100%;
    }

    &--inner {
      background-color: $color-intro-inner-background;
    }

    &--inner::before,
    &--inner::after {
      background-color: $color-intro-inner-background;
    }
  }

  .header-submenu__list {
    display: none;
  }
}

@media (min-width: $large-width) {
  .header-submenu {
    justify-content: space-between;
  }

  .header-submenu__list {
    display: flex;
    flex-wrap: wrap;
    width: 640px;
  }

  .header-submenu__item:not(:last-child) {
    margin-right: 42px;
  }

  .header-submenu__link {
    padding: 20px 10px;
  }
}
