.header-submenu {
  font-size: 15px;
  line-height: math.div(24, 15);
  font-weight: 700;
  color: $color-title;
}

.header-submenu__list {
  @include list-reset;
}

.header-submenu__link {
  @include link-style;
}

.header-submenu__delivery {
  margin: 0;
  font-weight: 400;
  text-align: right;
  color: $color-main;
}

@media (min-width: $medium-width) {
  .header-submenu__list {
    display: none;
  }
}

@media (min-width: $large-width) {
  .header-submenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1050px;
  }

  .header-submenu__list {
    display: flex;
  }

  .header-submenu__item:not(:last-child) {
    margin-right: 20px;
  }

  .header-submenu__link {
    padding: 20px 0;
  }
}
