.intro {
  background-color: $color-background-gray;
  background-image: url("../img/mobile/decor/mishka-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &--inner {
    background-image: none;
  }
}

.intro__title {
  margin: 0;
}

.intro__category {
  @include list-reset;
}
