.intro {
  margin: 0 auto;
  background-color: $color-background-gray;
  background-image: url("../img/mobile/decor/mishka-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &--inner {
    background-image: none;
  }
}

.intro__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 320px;
  min-height: 488px;
  margin: 0 auto;
  padding-top: 72px;
}

.intro__title {
  width: 260px;
  margin: 0 auto;
  text-align: center;
}

@media (min-width: $medium-width) {
  .intro {
    background-image: url("../img/tablet/decor/mishka-background.jpg");
  }

  .intro__wrapper {
    width: 768px;
    min-height: 744px;
    padding-top: 72px;
  }

  .intro__title {
    width: 668px;
  }
}

@media (min-width: $large-width) {
  .intro {
    max-width: 1150px;
    background-image: url("../img/desktop/decor/mishka-background.jpg");
  }

  .intro__wrapper {
    width: 1150px;
  }

  .intro__title {
    width: 700px;
  }
}
