.intro {
  background-color: $color-intro-background;
}

.intro__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 320px;
  min-height: 489px;
  margin: 0 auto;
  margin-bottom: 32px;
  background-color: $color-intro-background;
  background-image: url("../img/decor/mishka-background-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center -18px;
  background-size: contain;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/decor/mishka-background-mobile@2x.jpg");
    background-size: 320px auto;
  }
}

.intro__title {
  width: 260px;
  margin: 0 auto;
  margin-top: 74px;
  text-align: center;
}

@media (min-width: $medium-width) {
  .intro {
    position: relative;

    &::after {
      position: absolute;
      bottom: -12px;
      content: "";
      width: 100%;
      height: 24px;
      background-image: url("../img/decor/mask-zigzag-m.svg");
      background-repeat: repeat-x;
      background-position: center;
      background-size: contain;
    }
  }

  .intro__wrapper {
    width: 768px;
    min-height: 680px;
    background-image: url("../img/decor/mishka-background-tablet.jpg");
    background-position: center -66px;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/decor/mishka-background-tablet@2x.jpg");
      background-size: 768px auto;
    }
  }

  .intro__title {
    width: 668px;
    margin-top: 90px;
  }
}

@media (min-width: $large-width) {
  .intro {
    &::after {
      bottom: -18px;
      height: 34px;
      background-image: url("../img/decor/mask-zigzag-xl.svg");
    }
  }

  .intro__wrapper {
    width: 1150px;
    min-height: 680px;
    background-image: url("../img/decor/mishka-background-desktop.jpg");
    background-position: center -65px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/decor/mishka-background-desktop@2x.jpg");
      background-size: 1150px auto;
    }
  }

  .intro__title {
    width: 700px;
    margin-top: 94px;
  }
}
