.map {
  display: grid;
  grid-template-areas: "map";
}

.map__image {
  @include image-normalize;
  grid-area: map;
  width: 320px;
  height: 454px;
  margin: 0 auto;
}

.map__image-interactive {
  @include image-normalize;
  grid-area: map;
  width: 100%;
  border: 0;
}

@media (min-width: $medium-width) {
  .map__image {
    width: 768px;
    height: 457px;
  }
}

@media (min-width: $large-width) {
  .map__image {
    width: 527px;
    height: 457px;
  }
}
