.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  min-height: 336px;
  padding: 28px 30px;
  background-color: $color-modal-background;
  border: 1px solid $color-modal-border;
  box-shadow: 0 5px 10px $color-modal-shadow;
}

.modal-content__title {
  margin: 0;
  margin-bottom: 14px;
  font-size: 25px;
  line-height: math.div(30, 25);
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: $color-title;
}

@media (min-width: $medium-width) {
  .modal-content {
    width: 566px;
    min-height: 336px;
    padding: 38px;
  }

  .modal-content__title {
    margin-bottom: 12px;
    font-size: 30px;
    line-height: math.div(57, 30);
  }
}
