.navigation {
  position: relative;
  display: grid;
  grid-template-areas:
    ".        nav-logo nav-button"
    "nav-menu nav-menu nav-menu  ";
  grid-template-columns: 82px 1fr 82px;
  align-items: center;
  font-size: 17px;
  line-height: math.div(24, 17);
  font-weight: 700;
  color: $color-title;
}

.navigation__logo {
  @include link-style;
  grid-area: nav-logo;
  justify-self: center;
  min-height: 79px;
  padding: 22px;
}

.navigation__logo-image {
  @include image-normalize;
  width: 86px;
  height: 35px;
  margin: 0;
}

.navigation__toggle {
  grid-area: nav-button;
  position: relative;
  display: block;
  width: 78px;
  height: 78px;
  padding: 24px;
  background-color: $color-nav-button-background;
  border: 0;
  cursor: pointer;
}

.navigation__menu {
  z-index: 1;
  grid-area: nav-menu;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation__submenu {
  display: none;
}

// Классы для оживления меню-бургера

@media (max-width: $small-width-only) {
  .navigation--closed .navigation__menu {
    display: none;
  }

  .navigation--opened .navigation__toggle {
    &::before,
    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: "";
      width: 28px;
      height: 2px;
      margin: auto;
      background-color: $color-nav-button-icon;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  .navigation--closed .navigation__toggle::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    width: 20px;
    height: 2px;
    margin: auto;
    background-color: $color-nav-button-icon;
    box-shadow:
      0 6px 0 0 $color-nav-button-icon,
      0 -6px 0 0 $color-nav-button-icon;
  }

  .navigation--nojs .navigation__menu {
    position: static;
    display: block;
  }

  .navigation--nojs .navigation__toggle {
    display: none;
  }
}

@media (min-width: $medium-width) {
  .navigation {
    grid-template-areas:
      "nav-logo nav-user   "
      "nav-site nav-submenu";
    grid-template-columns: 330px 358px;
  }

  .navigation__logo {
    justify-self: start;
    min-height: 89px;
    padding: 22px 8px;
  }

  .navigation__logo-image {
    width: 114px;
    height: 46px;
  }

  .navigation__toggle {
    display: none;
  }

  .navigation__menu {
    display: contents;
  }

  .navigation__site {
    grid-area: nav-site;
  }

  .navigation__user {
    grid-area: nav-user;
  }

  .navigation__submenu {
    grid-area: nav-submenu;
    display: block;
  }
}

@media (min-width: $large-width) {
  .navigation {
    grid-template-areas:
      "nav-site    nav-logo    nav-user   "
      "nav-submenu nav-submenu nav-submenu";
    grid-template-columns: 1fr 200px 1fr;
  }

  .navigation__logo {
    justify-self: center;
    padding: 8px;
  }

  .navigation__logo-image {
    width: 149px;
    height: 72px;
  }

  .navigation__user {
    justify-self: end;
  }
}
