.page {
  height: 100%;
}

.page__body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: $font-main;
  font-style: normal;
  font-size: 15px;
  line-height: 2;
  font-weight: 400;
  color: $color-main;
  background-color: $color-background;
}
