.product-card {
  display: grid;
  grid-template-areas:
    "card-image      "
    "card-description";
  grid-template-columns: 1fr;
}

.product-card__image {
  @include image-normalize;
  grid-area: card-image;
  width: 260px;
  height: 195px;
  margin: 0;
}

.product-card__description {
  position: relative;
  grid-area: card-description;
  display: grid;
  grid-template-areas:
    "card-title    card-title   "
    "card-property card-property"
    "card-cost     card-cart    ";
  grid-template-columns: 1fr 1fr;
  padding: 28px 28px 20px;
  border: 1px solid $color-product-border;

  &::after {
    position: absolute;
    right: 28px;
    bottom: 72px;
    left: 28px;
    content: "";
    height: 1px;
    background-color: $color-shadow-line;
  }
}

.product-card__title {
  grid-area: card-title;
  margin: 0;
  margin-bottom: 6px;
  font-size: 17px;
  line-height: math.div(24, 17);
  font-weight: 700;
  color: $color-title;
}

.product-card__link {
  @include link-style;
}

.product-card__property {
  grid-area: card-property;
  margin: 0;
  margin-bottom: 42px;
  font-size: 13px;
  line-height: math.div(30, 13);
}

.product-card__cost {
  grid-area: card-cost;
  margin: 0;
  line-height: math.div(24, 15);
  font-weight: 700;
  color: $color-title;
}

.product-card__cart {
  @include link-style;
  grid-area: card-cart;
  justify-self: end;
  width: 40px;
  height: 40px;
  margin-top: -12px;
  margin-right: -10px;
  padding: 10px;
  background-color: $color-product-button-background;
  background-image: url("../img/decor/menu-cart.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 19px;
}

@media (min-width: $medium-width) and (max-width: $large-width) {
  .product-card {
    grid-template-areas: "card-image card-description";
    grid-template-columns: 1fr 1fr;
  }

  .product-card__description {
    padding: 28px 32px 20px;
    grid-template-rows: min-content 1fr auto;
  }
}

@media (min-width: $medium-width) {
  .product-card__image {
    width: 334px;
    height: 334px;
  }

  .product-card__title {
    font-size: 20px;
    line-height: math.div(24, 20);
  }

  .product-card__property {
    font-size: 15px;
    line-height: math.div(30, 15);
  }

  .product-card__cost {
    font-size: 17px;
    line-height: math.div(24, 17);
  }
}

@media (min-width: $large-width) {
  .product-card__description {
    grid-template-rows: min-content 1fr auto;
    min-height: 196px;
  }

  .product-card__image {
    width: 316px;
    height: 462px;
  }

  .product-card__property {
    margin-bottom: 30px;
  }
}
