.production__wrapper {
  display: grid;
  grid-template-areas:
    "production-title "
    "production-video "
    "production-text  "
    "production-button";
  grid-template-columns: 1fr;
  width: 260px;
  margin: 0 auto;
  margin-bottom: 58px;
  padding: 23px 0 32px;
  border: 1px solid $color-video-border;

  &:hover {
    box-shadow: 0 6px 10px $color-product-shadow;
  }

  &:focus-within {
    box-shadow: 0 6px 10px $color-product-shadow;
  }

  &:active {
    box-shadow: 0 3px 5px $color-product-shadow;
  }
}

.production__title {
  position: relative;
  grid-area: production-title;
  margin: 0;
  margin-bottom: 26px;
  padding-left: 90px;
  font-size: 17px;
  line-height: math.div(24, 17);
  font-weight: 700;
  color: $color-title;

  &::before {
    position: absolute;
    top: 50%;
    left: 32px;
    content: "";
    width: 32px;
    height: 22px;
    background-image: url("../img/video/video-camera.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transform: translateY(-50%);
  }
}

.production__video {
  grid-area: production-video;
  width: 260px;
  height: 150px;
  margin-bottom: 36px;
}

.production__text {
  grid-area: production-text;
  margin: 0;
  margin-bottom: 40px;
  padding-right: 12px;
  padding-left: 34px;
  font-size: 13px;
  line-height: math.div(24, 13);
}

.production__order {
  grid-area: production-button;
  justify-self: center;
  width: 192px;
  padding: 16px 10px;
  font-size: 18px;
  line-height: math.div(16, 18);
}

@media (min-width: $medium-width) {
  .production__wrapper {
    grid-template-areas:
      "production-video "
      "production-title "
      "production-text  "
      "production-button";
    width: 668px;
    margin-bottom: 62px;
    padding: 0;
    padding-bottom: 46px;
  }

  .production__video {
    width: 668px;
    height: 455px;
    margin-bottom: 40px;
  }

  .production__title {
    margin-bottom: 24px;
    padding-left: 106px;
    font-size: 20px;
    line-height: math.div(24, 20);

    &::before {
      left: 42px;
    }
  }

  .production__text {
    padding: 0 40px;
    font-size: 15px;
    line-height: math.div(30, 15);
  }

  .production__order {
    width: 584px;
    font-size: 17px;
    line-height: math.div(16, 17);
  }
}

@media (min-width: $large-width) {
  .production__wrapper {
    grid-template-areas:
      "production-video production-title "
      "production-video production-text  "
      "production-video production-button";
    grid-template-columns: 684px 1fr;
    grid-template-rows: min-content 1fr auto;
    column-gap: 76px;
    width: 1050px;
    margin-bottom: 102px;
    padding: 0;
  }

  .production__video {
    width: 682px;
    height: 455px;
    margin: 0;
  }

  .production__title {
    width: 230px;
    padding-left: 0;
    padding-top: 60px;
    margin-top: 36px;

    &::before {
      top: 20px;
      left: 0;
    }
  }

  .production__text {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    padding-right: 20px;
  }

  .production__order {
    justify-self: start;
    width: 230px;
    margin-bottom: 60px;
  }
}
