.product__title {
  margin: 0;
}

.product__label {
  margin: 0;
  font-size: 17px;
  line-height: math.div(20, 17);
  font-weight: 700;
  text-transform: uppercase;
  color: $color-product-label;
}

.product__text {
  margin: 0;
  line-height: math.div(24, 15);
}

.product__description {
  margin: 0;
  line-height: math.div(20, 15);
}

.product__description-value {
  margin: 0;
}

.product__image {
  @include image-normalize;
}

.product__cost {
  margin: 0;
  font-size: 17px;
  line-height: math.div(24, 17);
  font-weight: 700;
  text-align: center;
}

.product__order {
  width: 260px;
}
