.product-card {
  display: grid;
  grid-template-areas:
    "card-image      "
    "card-description";
  grid-template-columns: 1fr;

  &:hover {
    box-shadow: 0 6px 10px $color-product-shadow;
  }

  &:active {
    box-shadow: 0 3px 5px $color-product-shadow;
  }
}

.product-card__image-link {
  @include link-style;
  grid-area: card-image;

  &:focus {
    outline: 2px solid $color-outline;
    outline-offset: -2px;
  }

  &:active {
    outline: none;
  }
}

.product-card__image {
  @include image-normalize;
  width: 260px;
  height: 195px;
}

.product-card__description {
  grid-area: card-description;
  display: grid;
  grid-template-areas:
    "card-title   "
    "card-property"
    "card-order   ";
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;
  min-height: 179px;
  padding: 28px;
  padding-bottom: 20px;
  border: 1px solid $color-product-border;
}

.product-card__title {
  grid-area: card-title;
  margin: 0;
  margin-bottom: 6px;
  font-size: 17px;
  line-height: math.div(24, 17);
  font-weight: 700;
  color: $color-title;
}

.product-card__link {
  @include link-style;
  display: inline-block;

  &:hover {
    color: $color-title-hover;
  }

  &:focus {
    outline: 2px solid $color-outline;
    outline-offset: 2px;
  }

  &:active {
    color: $color-title-active;
    outline: none;
  }
}

.product-card__property {
  grid-area: card-property;
  margin: 0;
  margin-bottom: 18px;
  font-size: 13px;
  line-height: math.div(30, 13);
}

.product-card__order {
  grid-area: card-order;
  display: flex;
  margin: 0;
  padding-top: 22px;
  border-top: 1px solid $color-shadow-line;
}

.product-card__cost {
  max-width: 160px;
  margin: 0;
  margin-right: auto;
  font-size: 15px;
  line-height: math.div(24, 15);
  font-weight: 700;
  color: $color-title;
}

.product-card__cart {
  @include link-style;
  display: flex;
  width: 40px;
  height: 40px;
  margin-top: -12px;
  margin-right: -10px;
  padding: 10px;
  background-color: $color-product-button-background;

  &:focus {
    outline: 2px solid $color-outline;
    outline-offset: 2px;
  }

  &:active {
    outline: none;
  }
}

.product-card__cart:hover .product-card__cart-icon {
  fill: $color-product-button-icon-hover;
  opacity: 1;
}

.product-card__cart:active .product-card__cart-icon {
  opacity: 0.3;
}

.product-card__cart-icon {
  margin: auto;
  width: 21px;
  height: 18px;
  fill: $color-product-button-icon;
  opacity: 0.2;
}

@media (min-width: $medium-width) and (max-width: $large-width) {
  .product-card {
    grid-template-areas: "card-image card-description";
    grid-template-columns: 334px 1fr;
  }

  .product-card__description {
    min-height: 334px;
    padding: 26px 32px 20px;
  }
}

@media (min-width: $medium-width) {
  .product-card__image {
    width: 334px;
    height: 334px;
  }

  .product-card__title {
    font-size: 20px;
    line-height: math.div(24, 20);
  }

  .product-card__property {
    font-size: 15px;
    line-height: math.div(30, 15);
  }

  .product-card__cost {
    font-size: 17px;
    line-height: math.div(24, 17);
  }
}

@media (min-width: $large-width) {
  .product-card__description {
    min-height: 196px;
    padding: 26px 28px 20px;
  }

  .product-card__image {
    width: 316px;
    height: 462px;
  }

  .product-card__property {
    margin-bottom: 10px;
  }
}
