.product {
  position: relative;

  &::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    height: 6px;
    background-image: url("../img/decor/mask-zigzag-s.svg");
    background-repeat: repeat-x;
    background-position: center;
    background-size: contain;
  }
}

.product__wrapper {
  display: grid;
  grid-template-areas:
    "product-title      "
    "product-label      "
    "product-text       "
    "product-description"
    "product-image      "
    "product-cost       "
    "product-order      ";
  grid-template-columns: 1fr;
  width: 320px;
  margin: 0 auto;
  margin-bottom: 32px;
  padding: 0 30px 42px;
}

.product__title {
  grid-area: product-title;
  margin: 0;
  margin-bottom: 2px;
}

.product__label {
  grid-area: product-label;
  margin: 0;
  margin-bottom: 18px;
  font-size: 17px;
  line-height: math.div(20, 17);
  font-weight: 700;
  text-transform: uppercase;
  color: $color-product-label;
}

.product__text {
  grid-area: product-text;
  margin: 0;
  margin-bottom: 18px;
  font-size: 15px;
  line-height: math.div(24, 15);
}

.product__description {
  grid-area: product-description;
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 30px;
  font-size: 15px;
  line-height: math.div(20, 15);
}

.product__description-row {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 40px;

  &::after {
    position: absolute;
    right: 0;
    bottom: -2px;
    left: 0;
    content: "";
    height: 1px;
    background-color: $color-shadow-line;
  }
}

.product__description-property {
  width: 98px;
}

.product__description-value {
  width: 162px;
  margin: 0;
}

.product__image {
  @include image-normalize;
  grid-area: product-image;
  margin: 0;
  margin-bottom: 14px;
}

.product__cost {
  grid-area: product-cost;
  margin: 0;
  margin-bottom: 22px;
  font-size: 17px;
  line-height: math.div(24, 17);
  font-weight: 700;
  text-align: center;
}

.product__order {
  grid-area: product-order;
  align-self: start;
  width: 260px;
}

@media (min-width: $medium-width) {
  .product::after {
    height: 17px;
  }

  .product__wrapper {
    grid-template-areas:
      "product-title       product-title product-label"
      "product-text        product-image product-image"
      "product-description product-image product-image"
      "product-cost        product-image product-image"
      "product-order       product-image product-image";
    grid-template-columns: 292px 1fr 126px;
    column-gap: 42px;
    width: 768px;
    padding: 20px 50px 68px;
  }

  .product__title {
    margin-bottom: 38px;
  }

  .product__label {
    margin-top: 6px;
    margin-bottom: 60px;
    font-size: 17px;
    line-height: math.div(17, 17);
    text-align: center;
  }

  .product__text {
    margin-top: -12px;
    margin-bottom: 36px;
    font-size: 17px;
    line-height: math.div(30, 17);
  }

  .product__description {
    margin-bottom: 58px;
  }

  .product__image {
    width: 334px;
    height: 404px;
    margin: 0;
  }

  .product__cost {
    margin-bottom: 32px;
    font-size: 20px;
    line-height: math.div(24, 20);
  }

  .product__order {
    width: 292px;
    font-size: 17px;
    line-height: math.div(20, 17);
  }
}

@media (min-width: $large-width) {
  .product::after {
    width: 1050px;
    height: 23px;
    margin: 0 auto;
  }

  .product__wrapper {
    grid-template-areas:
      "product-label product-title       product-image"
      ".             product-text        product-image"
      ".             product-description product-image"
      ".             product-cost        product-image"
      ".             product-order       product-image";
    grid-template-columns: 120px 1fr 525px;
    column-gap: 55px;
    width: 1150px;
    padding: 40px 50px 96px;
  }

  .product__title {
    z-index: 1;
    grid-column: 2 / 4;
    margin-top: 60px;
    margin-bottom: 36px;
  }

  .product__label {
    align-self: center;
    width: 100px;
    margin: 0;
    margin-top: 18px;
    margin-left: 32px;
  }

  .product__text {
    margin: 0;
    margin-bottom: 50px;
  }

  .product__description {
    margin-bottom: 112px;
  }

  .product__description-row::after {
    bottom: -5px;
  }

  .product__image {
    width: 525px;
    height: 636px;
  }
}
