.reviews {
  position: relative;

  &::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    height: 6px;
    background-image: url("../img/decor/mask-zigzag-s.svg");
    background-repeat: repeat-x;
    background-position: center;
    background-size: contain;
  }
}

.reviews__wrapper {
  display: grid;
  grid-template-areas:
    "review-title  "
    "review-list   "
    "review-toggles"
    "review-button ";
  grid-template-columns: 1fr;
  width: 320px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 20px 30px 50px;
}

.reviews__title {
  grid-area: review-title;
  margin: 0;
  margin-bottom: 14px;
}

.reviews__list {
  @include list-reset;
  grid-area: review-list;
}

.reviews__item {
  margin: 0;
}

.reviews__text {
  margin: 0;
  margin-bottom: 34px;
}

.reviews__author {
  display: inline-block;
  margin-bottom: 30px;
  font-style: normal;
}

.reviews__author-name {
  display: block;
  font-size: 17px;
  line-height: math.div(24, 17);
  font-weight: 700;
  color: $color-title;
}

.reviews__author-email {
  @include link-style;
  display: inline-block;
  font-size: 17px;
  line-height: math.div(30, 17);
  color: $color-main;

  &:hover {
    color: $color-reviews-mail-hover;
  }

  &:focus {
    outline: auto;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid $color-outline;
    outline-offset: 2px;
  }

  &:active {
    color: $color-reviews-mail-active;
    outline: none;
  }
}

.reviews__toggles {
  grid-area: review-toggles;
  margin-bottom: 38px;
}

.reviews__write {
  grid-area: review-button;
  align-self: start;
  width: 260px;
}

@media (min-width: $medium-width) {
  .reviews {
    margin: 0 auto;
    background-color: $color-background;
    background-image: url("../img/decor/review-background-tablet.jpg");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 350px auto;

    &::after {
      height: 17px;
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/decor/review-background-tablet@2x.jpg");
      background-size: 350px auto;
    }
  }

  .reviews__wrapper {
    grid-template-areas:
      "review-title review-title review-button "
      "review-list  review-list  .             "
      "review-list  review-list  review-toggles";
    grid-template-columns: 300px 1fr 176px;
    width: 768px;
    padding: 84px 50px 100px;
  }

  .reviews__title {
    max-width: 600px;
    margin-bottom: 38px;
  }

  .reviews__list {
    grid-column: 1 / -1;
  }

  .reviews__text {
    margin-bottom: 62px;
    font-size: 17px;
    line-height: math.div(30, 17);
  }

  .reviews__author {
    max-width: 350px;
  }

  .reviews__author-name {
    margin-bottom: 2px;
    font-size: 18px;
    line-height: math.div(24, 18);
  }

  .reviews__toggles {
    margin-bottom: 36px;
  }

  .reviews__write {
    width: 175px;
    margin-top: -4px;
    font-size: 17px;
    line-height: math.div(20, 17);
  }
}

@media (min-width: $large-width) {
  .reviews {
    width: 1150px;
    background-image: url("../img/decor/review-background-desktop.jpg");
    background-position: top left 50px;

    &::after {
      width: 1050px;
      height: 23px;
      margin: 0 auto;
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/decor/review-background-desktop@2x.jpg");
    }
  }

  .reviews__wrapper {
    width: 1150px;
    padding: 80px 50px 154px 224px;
  }

  .reviews__title {
    margin-bottom: 34px;
  }

  .reviews__text {
    margin-bottom: 45px;
  }

  .reviews__author-name {
    font-size: 17px;
    line-height: math.div(24, 17);
  }

  .reviews__write {
    margin: 0;
  }
}
