.site-navigation {
  @include list-reset;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-navigation__item {
  box-shadow:
    0 1px 0 $color-nav-shadow,
    inset 0 1px 0 $color-nav-shadow;
}

.site-navigation__link {
  @include link-style;
  padding: 28px;
  text-align: center;
}

@media (min-width: $medium-width) {
  .site-navigation {
    flex-direction: row;
    font-size: 15px;
  }

  .site-navigation__item {
    box-shadow: none;
  }

  .site-navigation__item:not(:last-child) {
    margin-right: 20px;
  }

  .site-navigation__link {
    padding: 22px 0;
  }
}

@media (min-width: $large-width) {
  .site-navigation {
    font-size: 17px;
  }

  .site-navigation__link {
    padding: 16px 0;
  }
}
