.site-navigation {
  @include list-reset;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: $color-background;
}

.site-navigation__item {
  box-shadow:
    0 1px 0 $color-shadow-line,
    inset 0 1px 0 $color-shadow-line;
}

.site-navigation__link {
  @include link-style;
  padding: 28px;
  padding-left: 76px;

  &:hover {
    color: $color-title-hover;
  }

  &:focus {
    outline: auto;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid $color-outline;
    outline-offset: -6px;
  }

  &:active {
    color: $color-title-active;
    outline: none;
  }
}

@media (min-width: $medium-width) {
  .site-navigation {
    flex-direction: row;
    font-size: 15px;
    line-height: math.div(24, 15);
    background-color: $color-intro-background;
    border-top: 1px solid $color-shadow-line;

    &--inner {
      background-color: $color-intro-inner-background;
    }
  }

  .site-navigation__item {
    box-shadow: none;

    &:not(:last-child) {
      margin-right: 16px;
    }
  }

  .site-navigation__link {
    padding: 20px 10px;
  }
}

@media (min-width: $large-width) {
  .site-navigation {
    font-size: 17px;
    line-height: math.div(24, 17);
    background-color: $color-transparent;
    border-top: 0;
  }

  .site-navigation__item {
    &:not(:last-child) {
      margin-right: 26px;
      border-right: 1px solid $color-shadow-line;
    }
  }

  .site-navigation__link {
    padding: 32px 10px;
    padding-right: 34px;
  }
}
