.slider__item--hidden {
  display: none;
}

.slider__toggles {
  z-index: 1;
  display: flex;
}

.slider__toggle {
  display: block;
  width: 130px;
  height: 52px;
  padding: 0;
  background-color: $color-slider-button-background;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px 26px;
  border: 1px solid $color-slider-button-border;
  cursor: pointer;

  &--previous {
    background-image: url("../img/decor/button-arrow-left.svg");
  }

  &--forward {
    background-image: url("../img/decor/button-arrow-right.svg");
  }

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    outline: auto;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid $color-outline;
    outline-offset: -2px;
  }

  &:active {
    outline: none;
    opacity: 0.3;
  }
}

@media (min-width: $medium-width) {
  .slider__toggle {
    width: 88px;
    height: 44px;
    border: 0;
  }
}
