.slider__toggles {
  display: flex;
}

.slider__toggle {
  display: block;
  width: 130px;
  height: 52px;
  padding: 0;
  background-color: #000000;
  border: 1px solid $color-slider-button-border;
  cursor: pointer;
}
