.social {
  @include list-reset;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 260px;
  padding: 28px;

  &::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    height: 1px;
    background-color: $color-footer-shadow-line;
  }
}

.social__item:not(:last-child) {
  margin-right: 30px;
}

.social__link {
  @include link-style;
  display: flex;
  width: 28px;
  height: 23px;

  &:focus {
    outline: auto;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid $color-outline;
    outline-offset: 2px;
  }

  &:active {
    outline: none;
  }
}

.social__link:hover .social__icon {
  fill: $color-footer-social-icon-hover;
}

.social__link:active .social__icon {
  opacity: 0.3;
}


.social__icon {
  margin: auto;
  width: 28px;
  height: 23px;
  fill: $color-footer-social-icon;
}

@media (min-width: $medium-width) {
  .social {
    justify-content: flex-start;
    width: 268px;
    padding: 24px 28px;

    &::after {
      content: initial;
    }
  }
}

@media (min-width: $large-width) {
  .social {
    padding: 24px;
  }
}
