.user-navigation {
  @include list-reset;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: $color-background;
}

.user-navigation__item {
  box-shadow:
    0 1px 0 $color-shadow-line,
    inset 0 1px 0 $color-shadow-line;
}

.user-navigation__link {
  @include link-style;
  padding: 28px;
  padding-left: 76px;

  &:hover {
    color: $color-title-hover;
  }

  &:focus {
    outline: 2px solid $color-outline;
    outline-offset: -6px;
  }

  &:active {
    color: $color-title-active;
    outline: none;
  }
}

@media (min-width: $medium-width) {
  .user-navigation {
    flex-direction: row;
    background-color: $color-transparent;
  }

  .user-navigation__item {
    border-left: 1px solid $color-shadow-line;
    box-shadow: none;
  }

  .user-navigation__link {
    padding: 32px 10px;
  }
}

@media (min-width: $large-width) {
  .user-navigation__link {
    padding: 32px 12px;
  }
}
