.intro {
  background-color: #f1f1f1;
  background-image: url("../../img/mobile/decor/mishka-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.intro__title {
  @include title-style;
}

.intro__category {
  @include list-reset;
}
