// Шрифты проекта

$font-main: "Open Sans", sans-serif;
$font-button: $font-main;
$font-input: $font-main;

// Цвета проекта - оттенки серого

$color-inverse: #ffffff;
$gray-light: #f1f1f1;
$gray: #ececec;
$gray-dark: #444444;
$gray-darken: #000000;

// Цвета проекта - основной цвет

$color-lighten: #63d1bb;
$color-light: #62d1ba;
$color-base: #59d5bc;
$color-dark: #56c3b2;
$color-darken: #46c1ae;

// Цвета компонентов

$color-main: $gray-dark;
$color-background: $color-inverse;
$color-background-gray: $gray-light;

$color-title: $gray-darken;
$color-subtitle: $color-inverse;
$color-link: $gray-darken;
$color-sublink: $color-inverse;

$color-product-label: $color-lighten;
$color-product-background-light: $color-lighten;
$color-product-background-dark: $color-dark;

$color-form-fieldset: $color-lighten;
$color-form-label: $gray-darken;
$color-form-input: $gray-darken;

$color-main-button-text: $gray-dark;
$color-main-button-background: $color-inverse;
$color-main-button-border: $gray-dark;

$color-navigation-button-background: $color-inverse;

$color-slider-button-background: $color-inverse;
$color-slider-button-border: $gray;

$color-video-button-background: $color-inverse;

$color-modal-button-text: $color-inverse;
$color-modal-button-background: $color-lighten;
