// Шрифты проекта

$font-main: "Open Sans", sans-serif;
$font-button: $font-main;
$font-input: $font-main;

// Цвета проекта

$white: #ffffff;
$gray-light: #f1f1f1;
$gray: #ececec;
$black-light: #444444;
$black: #000000;

$bright: #63d1bb;
$bright-light: #62d1ba;
$light: #59d5bc;
$darck-light: #56c3b2;
$dark: #46c1ae;

$color-main: $black-light;
$color-background: $white;
$color-background-gray: $gray-light;
$color-title: $black;
$color-link: $black;
$color-button-text: $black-light;
$color-button-background: $white;
$color-button-border: $black-light;
