// Шрифты проекта
$font-main: "Open Sans", sans-serif;
$font-button: $font-main;
$font-input: $font-main;

// Ширина viewport для разных устройств
$small-width: 320px;
$small-width-only: 767px;
$medium-width: 768px;
$large-width: 1150px;

// Цвета проекта - оттенки серого
$transparent: rgba(0, 0, 0, 0);
$color-inverse: #ffffff;

$gray-lightest: #f9f9f9;
$gray-lighten: #f1f1f1;
$gray-light: #ececec;
$gray: #e5e5e5;
$gray-dark: #c6c6c6;
$gray-darken: #444444;
$gray-darkest: #000000;

// Цвета проекта - основной цвет
$color-lighten: #63d1bb;
$color-light: #62d1ba;
$color-base: #59d5bc;
$color-dark: #56c3b2;
$color-darken: #46c1ae;

// Общие цвета
$color-main: $gray-darken;
$color-background: $color-inverse;
$color-title: $gray-darkest;
$color-link: $gray-darkest;
$color-shadow-line: $gray-light;
$color-transparent: $transparent;

// button
$color-button-text: $gray-darken;
$color-button-background: $color-inverse;
$color-button-border: $gray-darken;

// header
$color-nav-button-icon: $gray-darkest;
$color-nav-button-background: $transparent;
$color-search-button-background: $transparent;

// footer
$color-footer-background: $gray-lighten;
$color-footer-shadow-line: $gray;

// modal
$color-modal-veil: rgba($color-inverse, 0.9);
$color-modal-background: $color-inverse;
$color-modal-border: $gray-dark;
$color-modal-shadow: rgba(0, 1, 1, 0.25);
$color-modal-item-border: $gray-darken;
$color-modal-item-cheked-border: $color-lighten;
$color-modal-button-text: $color-inverse;
$color-modal-button-background: $color-lighten;

// index-intro
$color-intro-background: $gray-lightest;

// index-category
$color-category-title: $color-inverse;
$color-category-background-light: $color-lighten;
$color-category-background-dark: $color-dark;

// index-product
$color-product-label: $color-lighten;

// index-slider
$color-slider-button-background: $color-inverse;
$color-slider-button-border: $gray-light;

// index-contact
$color-contact-underline: $color-light;

// catalog-intro
$color-intro-inner-background: $gray-lighten;

// catalog-product
$color-product-border: $gray-light;
$color-product-button-background: $transparent;

// catalog-video
$color-video-border: $gray-light;
$color-video-button-background: $transparent;

// form-order
$color-form-fieldset-title: $color-lighten;
$color-form-fieldset-background: $gray-lighten;
$color-form-label: $gray-darkest;
$color-form-label-line: $color-light;
$color-form-input: $gray-darkest;
$color-form-input-border: $gray-darkest;
$color-form-control-radio: $color-light;
$color-form-control-border: $gray-darken;
$color-form-control-background: $transparent;
