*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
  font-display: swap;
}
.page {
  height: 100%;
}

.page__body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-size: 15px;
  line-height: 2;
  font-weight: 400;
  color: #444444;
  background-color: #ffffff;
}

.main-container {
  flex-grow: 1;
}

.title {
  font-size: 25px;
  line-height: 1.2;
  font-weight: 700;
  color: #000000;
}
.title--big {
  font-size: 27px;
  line-height: 1.1111111111;
}

@media (min-width: 768px) {
  .title {
    font-size: 43px;
    line-height: 1.1627906977;
  }
}
@media (min-width: 1150px) {
  .title {
    font-size: 53px;
    line-height: 1.0754716981;
  }
}
.button {
  display: block;
  padding: 14px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 1.1111111111;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #444444;
  background-color: #ffffff;
  border: 2px solid #444444;
  cursor: pointer;
}
.button:hover {
  color: #ffffff;
  background-color: #444444;
}
.button:focus {
  outline: 2px solid #56c3b2;
  outline-offset: 2px;
}
.button:active {
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.header::before {
  z-index: 1;
  position: absolute;
  top: 79px;
  right: 0;
  left: 0;
  content: "";
  height: 1px;
  background-color: #ececec;
}

.header__wrapper {
  width: 320px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .header::before {
    top: 89px;
  }
  .header::after {
    z-index: -1;
    position: absolute;
    top: 89px;
    right: 0;
    left: 0;
    content: "";
    height: 200px;
    background-color: #f9f9f9;
  }
  .header--inner::after {
    background-color: #f1f1f1;
  }

  .header__wrapper {
    width: 768px;
    padding: 0 50px;
  }

  .header__navigation {
    margin: 0 -10px;
  }
}
@media (min-width: 1150px) {
  .header__wrapper {
    width: 1150px;
  }
}
.navigation {
  position: relative;
  display: grid;
  grid-template-areas: ".        nav-logo nav-button" "nav-menu nav-menu nav-menu  ";
  grid-template-columns: 82px 1fr 82px;
  align-items: center;
  font-size: 17px;
  line-height: 1.4117647059;
  font-weight: 700;
  color: #000000;
}

.navigation__logo {
  display: block;
  text-decoration: none;
  color: #000000;
  grid-area: nav-logo;
  justify-self: center;
  min-height: 79px;
  padding: 22px;
}
.navigation__logo:focus {
  outline: 2px solid #56c3b2;
  outline-offset: -6px;
}
.navigation__logo:active {
  outline: none;
}

.navigation__logo-image {
  display: block;
  max-width: 100%;
  object-fit: contain;
  width: 86px;
  height: 35px;
  margin: 0;
}

.navigation__toggle {
  grid-area: nav-button;
  position: relative;
  display: block;
  width: 78px;
  height: 78px;
  padding: 24px;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  cursor: pointer;
}

.navigation__menu {
  z-index: 1;
  grid-area: nav-menu;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation__submenu {
  display: none;
}

@media (max-width: 767px) {
  .navigation--closed .navigation__menu {
    display: none;
  }

  .navigation--opened .navigation__toggle::before, .navigation--opened .navigation__toggle::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    width: 28px;
    height: 2px;
    margin: auto;
    background-color: #000000;
  }
  .navigation--opened .navigation__toggle::before {
    transform: rotate(45deg);
  }
  .navigation--opened .navigation__toggle::after {
    transform: rotate(-45deg);
  }

  .navigation--closed .navigation__toggle::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    width: 20px;
    height: 2px;
    margin: auto;
    background-color: #000000;
    box-shadow: 0 6px 0 0 #000000, 0 -6px 0 0 #000000;
  }

  .navigation--nojs .navigation__menu {
    position: static;
    display: block;
  }

  .navigation--nojs .navigation__toggle {
    display: none;
  }
}
@media (min-width: 768px) {
  .navigation {
    grid-template-areas: "nav-logo nav-user   " "nav-site nav-submenu";
    grid-template-columns: 330px 358px;
  }

  .navigation__logo {
    justify-self: start;
    min-height: 89px;
    padding: 22px 8px;
  }

  .navigation__logo-image {
    width: 114px;
    height: 46px;
  }

  .navigation__toggle {
    display: none;
  }

  .navigation__menu {
    display: contents;
  }

  .navigation__site {
    grid-area: nav-site;
  }

  .navigation__user {
    grid-area: nav-user;
  }

  .navigation__submenu {
    grid-area: nav-submenu;
    display: block;
  }
}
@media (min-width: 1150px) {
  .navigation {
    grid-template-areas: "nav-site    nav-logo    nav-user   " "nav-submenu nav-submenu nav-submenu";
    grid-template-columns: 1fr 200px 1fr;
  }

  .navigation__logo {
    justify-self: center;
    padding: 8px;
  }

  .navigation__logo-image {
    width: 149px;
    height: 72px;
  }

  .navigation__user {
    justify-self: end;
  }
}
.site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #ffffff;
}

.site-navigation__item {
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
}

.site-navigation__link {
  display: block;
  text-decoration: none;
  color: #000000;
  padding: 28px;
  padding-left: 76px;
}
.site-navigation__link:hover {
  color: rgba(0, 0, 0, 0.6);
}
.site-navigation__link:focus {
  outline: 2px solid #56c3b2;
  outline-offset: -6px;
}
.site-navigation__link:active {
  color: rgba(0, 0, 0, 0.3);
  outline: none;
}

@media (min-width: 768px) {
  .site-navigation {
    flex-direction: row;
    font-size: 15px;
    line-height: 1.6;
    background-color: rgba(0, 0, 0, 0);
  }

  .site-navigation__item {
    position: relative;
    box-shadow: none;
  }
  .site-navigation__item:not(:last-child) {
    margin-right: 16px;
  }

  .site-navigation__link {
    padding: 20px 10px;
  }
}
@media (min-width: 1150px) {
  .site-navigation {
    font-size: 17px;
    line-height: 1.4117647059;
  }

  .site-navigation__item:not(:last-child) {
    margin-right: 52px;
  }
  .site-navigation__item::after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: -26px;
    content: "";
    width: 1px;
    background-color: #ececec;
  }
  .site-navigation__item:last-child::after {
    content: initial;
  }

  .site-navigation__link {
    padding: 32px 10px;
  }
}
.user-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #ffffff;
}

.user-navigation__item {
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
}

.user-navigation__link {
  display: block;
  text-decoration: none;
  color: #000000;
  padding: 28px;
  padding-left: 76px;
}
.user-navigation__link:hover {
  color: rgba(0, 0, 0, 0.6);
}
.user-navigation__link:focus {
  outline: 2px solid #56c3b2;
  outline-offset: -6px;
}
.user-navigation__link:active {
  color: rgba(0, 0, 0, 0.3);
  outline: none;
}

@media (min-width: 768px) {
  .user-navigation {
    flex-direction: row;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
  }

  .user-navigation__item {
    box-shadow: none;
  }
  .user-navigation__item::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 2px;
    content: "";
    width: 1px;
    background-color: #ececec;
  }

  .user-navigation__link {
    padding: 32px 10px;
  }
}
@media (min-width: 1150px) {
  .user-navigation__link {
    padding: 32px 12px;
  }
}
.search {
  position: relative;
}

.search__icon {
  position: absolute;
  top: 50%;
  left: 32px;
  transform: translateY(-50%);
}

@media (min-width: 768px) {
  .search__icon {
    left: 36px;
  }

  .search__link {
    width: 84px;
    height: 89px;
    padding: 26px 24px;
    background-color: rgba(0, 0, 0, 0);
  }

  .search__text {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}
.cart {
  position: relative;
}

.cart__icon {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
}

@media (min-width: 768px) {
  .cart__link {
    padding-left: 82px;
  }
}
@media (min-width: 1150px) {
  .cart__link {
    padding-left: 84px;
  }
}
.header-submenu {
  font-size: 15px;
  line-height: 1.6;
  font-weight: 700;
  color: #000000;
}

.header-submenu__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-submenu__link {
  display: block;
  text-decoration: none;
  color: #000000;
}
.header-submenu__link:hover {
  color: rgba(0, 0, 0, 0.6);
}
.header-submenu__link:focus {
  outline: 2px solid #56c3b2;
  outline-offset: -6px;
}
.header-submenu__link:active {
  color: rgba(0, 0, 0, 0.3);
  outline: none;
}

.header-submenu__delivery {
  width: 260px;
  margin: 0;
  padding: 10px;
  font-weight: 400;
  text-align: right;
  color: #444444;
}

@media (min-width: 768px) {
  .header-submenu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .header-submenu__list {
    display: none;
  }
}
@media (min-width: 1150px) {
  .header-submenu {
    justify-content: space-between;
  }

  .header-submenu__list {
    display: flex;
    flex-wrap: wrap;
    width: 430px;
  }

  .header-submenu__item:not(:last-child) {
    margin-right: 42px;
  }

  .header-submenu__link {
    padding: 20px 10px;
  }
}
.footer {
  background-color: #f1f1f1;
}

.footer__wrapper {
  display: grid;
  grid-template-areas: "footer-social   " "footer-copyright";
  grid-template-columns: 1fr;
  justify-items: center;
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
}

.footer__logo {
  display: none;
}
.footer__logo:focus {
  outline: 2px solid #56c3b2;
  outline-offset: 2px;
}
.footer__logo:active {
  outline: none;
}

.footer__logo-image {
  display: block;
  max-width: 100%;
  object-fit: contain;
  width: 102px;
  height: 34px;
}

.footer__social {
  grid-area: footer-social;
}

.footer__copyright {
  grid-area: footer-copyright;
}

@media (min-width: 768px) {
  .footer__wrapper {
    grid-template-areas: "footer-logo footer-social footer-copyright";
    grid-template-columns: 200px 1fr 200px;
    justify-items: start;
    align-items: center;
    width: 768px;
    min-height: 138px;
    padding: 30px 50px;
  }

  .footer__logo {
    display: block;
    margin-left: -10px;
    padding: 10px;
  }

  .footer__copyright {
    justify-self: end;
  }
}
@media (min-width: 1150px) {
  .footer__wrapper {
    width: 1150px;
  }

  .footer__social {
    justify-self: center;
  }
}
.social {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 260px;
  padding: 28px;
}
.social::after {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  height: 1px;
  background-color: #e5e5e5;
}

.social__item:not(:last-child) {
  margin-right: 30px;
}

.social__link {
  display: block;
  text-decoration: none;
  color: #000000;
  width: 28px;
  height: 22px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.social__link--vkontakte {
  background-image: url("../img/decor/social-vkontakte.svg");
}
.social__link--youtube {
  background-image: url("../img/decor/social-youtube.svg");
}
.social__link--telegram {
  background-image: url("../img/decor/social-telegram.svg");
}
.social__link:focus {
  outline: 2px solid #56c3b2;
  outline-offset: 2px;
}
.social__link:active {
  outline: none;
}

@media (min-width: 768px) {
  .social {
    justify-content: flex-start;
    width: 268px;
    padding: 24px;
  }
  .social::after {
    content: initial;
  }
}
.copyright {
  display: block;
  text-decoration: none;
  color: #000000;
  display: flex;
  align-items: center;
  padding: 24px;
}
.copyright:focus {
  outline: 2px solid #56c3b2;
  outline-offset: -2px;
}
.copyright:active {
  outline: none;
}

.copyright__text {
  margin: 0;
  margin-right: 26px;
  font-size: 19px;
  line-height: 0.9473684211;
  font-weight: 700;
  color: #000000;
}

.copyright__image {
  display: block;
  max-width: 100%;
  object-fit: contain;
  width: 27px;
  height: 34px;
}

@media (min-width: 768px) {
  .copyright {
    width: 200px;
    margin-right: -10px;
    padding: 10px;
  }
}
.modal {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}
.modal--hidden {
  display: none;
}

.modal__content {
  margin: auto;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  min-height: 336px;
  padding: 28px 30px;
  background-color: #ffffff;
  border: 1px solid #c6c6c6;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

.modal-content__title {
  margin: 0;
  margin-bottom: 14px;
  font-size: 25px;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

@media (min-width: 768px) {
  .modal-content {
    width: 566px;
    min-height: 336px;
    padding: 38px;
  }

  .modal-content__title {
    margin-bottom: 12px;
    font-size: 30px;
    line-height: 1.9;
  }
}
.cart-form__fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  border: 0;
}

.cart-form__legend {
  margin-bottom: 22px;
  padding: 0;
  text-align: center;
}

.cart-form__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.cart-form__item:not(:last-child) {
  margin-right: 6px;
}

.cart-form__label {
  display: block;
  width: 82px;
  min-height: 52px;
  padding: 16px;
  font-size: 17px;
  line-height: 0.9411764706;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid rgba(68, 68, 68, 0.1);
}
.cart-form__label:hover {
  border-color: rgba(68, 68, 68, 0.3);
}

.cart-form__input:checked ~ .cart-form__label {
  border-color: #63d1bb;
}

.cart-form__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.cart-form__add {
  display: block;
  width: 260px;
  padding: 18px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-size: 17px;
  line-height: 0.9411764706;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #63d1bb;
  border: 0;
  cursor: pointer;
}
.cart-form__add:hover {
  background-color: #46c1ae;
}
.cart-form__add:active {
  background-color: #59d5bc;
}

@media (min-width: 768px) {
  .cart-form__legend {
    margin-bottom: 20px;
    font-size: 17px;
    line-height: 1.7647058824;
  }

  .cart-form__label {
    width: 112px;
  }

  .cart-form__add {
    width: 350px;
  }
}
.intro {
  background-color: #f9f9f9;
}

.intro__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 320px;
  min-height: 489px;
  margin: 0 auto;
  margin-bottom: 32px;
  background-color: #f9f9f9;
  background-image: url("../img/decor/mishka-background-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center -18px;
  background-size: contain;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .intro__wrapper {
    background-image: url("../img/decor/mishka-background-mobile@2x.jpg");
    background-size: 320px auto;
  }
}

.intro__title {
  width: 260px;
  margin: 0 auto;
  margin-top: 74px;
  text-align: center;
}

@media (min-width: 768px) {
  .intro {
    position: relative;
  }
  .intro::after {
    position: absolute;
    bottom: -12px;
    content: "";
    width: 100%;
    height: 24px;
    background-image: url("../img/decor/mask-zigzag-m.svg");
    background-repeat: repeat-x;
    background-position: center;
    background-size: contain;
  }

  .intro__wrapper {
    width: 768px;
    min-height: 680px;
    background-image: url("../img/decor/mishka-background-tablet.jpg");
    background-position: center -66px;
    background-size: cover;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .intro__wrapper {
    background-image: url("../img/decor/mishka-background-tablet@2x.jpg");
    background-size: 768px auto;
  }
}
@media (min-width: 768px) {
  .intro__title {
    width: 668px;
    margin-top: 90px;
  }
}
@media (min-width: 1150px) {
  .intro::after {
    bottom: -18px;
    height: 34px;
    background-image: url("../img/decor/mask-zigzag-xl.svg");
  }

  .intro__wrapper {
    width: 1150px;
    min-height: 680px;
    background-image: url("../img/decor/mishka-background-desktop.jpg");
    background-position: center -65px;
  }
}
@media (min-width: 1150px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1150px) and (min-resolution: 2dppx) {
  .intro__wrapper {
    background-image: url("../img/decor/mishka-background-desktop@2x.jpg");
    background-size: 1150px auto;
  }
}
@media (min-width: 1150px) {
  .intro__title {
    width: 700px;
    margin-top: 94px;
  }
}
.category-product {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.category-product__item {
  position: relative;
  color: #ffffff;
}

.category-product__link {
  display: block;
  text-decoration: none;
  color: #000000;
  padding: 24px 100px 31px 30px;
  font-size: 19px;
  line-height: 1.2631578947;
  font-weight: 700;
  color: #ffffff;
}
.category-product__link--interior {
  background-color: #63d1bb;
  background-image: url("../img/decor/category-interior.svg");
  background-repeat: no-repeat;
  background-position: center right 36px;
  background-size: 40px 62px;
}
.category-product__link--interior:hover {
  background-color: #59d5bc;
}
.category-product__link--interior:focus {
  outline: 2px solid #444444;
  outline-offset: -2px;
}
.category-product__link--interior:active {
  background-color: #59d5bc;
  outline: none;
}
.category-product__link--toy {
  background-color: #56c3b2;
  background-image: url("../img/decor/category-toy.svg");
  background-repeat: no-repeat;
  background-position: center right 27px;
  background-size: 60px 60px;
}
.category-product__link--toy:hover {
  background-color: #46c1ae;
}
.category-product__link--toy:focus {
  outline: 2px solid #444444;
  outline-offset: -2px;
}
.category-product__link--toy:active {
  background-color: #46c1ae;
  outline: none;
}

@media (min-width: 768px) {
  .category-product {
    flex-direction: row;
  }

  .category-product__item {
    width: 334px;
  }

  .category-product__link {
    padding: 25px 100px 34px 36px;
    font-size: 20px;
    line-height: 1.5;
  }
  .category-product__link--toy {
    background-position: center right 32px;
  }
}
@media (min-width: 1150px) {
  .category-product__item {
    width: 525px;
  }
}
.product {
  position: relative;
}
.product::after {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  height: 6px;
  background-image: url("../img/decor/mask-zigzag-s.svg");
  background-repeat: repeat-x;
  background-position: center;
  background-size: contain;
}

.product__wrapper {
  display: grid;
  grid-template-areas: "product-title      " "product-label      " "product-text       " "product-description" "product-image      " "product-cost       " "product-order      ";
  grid-template-columns: 1fr;
  width: 320px;
  margin: 0 auto;
  margin-bottom: 32px;
  padding: 0 30px 42px;
}

.product__title {
  grid-area: product-title;
  margin: 0;
  margin-bottom: 2px;
}

.product__label {
  grid-area: product-label;
  margin: 0;
  margin-bottom: 18px;
  font-size: 17px;
  line-height: 1.1764705882;
  font-weight: 700;
  text-transform: uppercase;
  color: #63d1bb;
}

.product__text {
  grid-area: product-text;
  margin: 0;
  margin-bottom: 18px;
  font-size: 15px;
  line-height: 1.6;
}

.product__description {
  grid-area: product-description;
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 30px;
  font-size: 15px;
  line-height: 1.3333333333;
}

.product__description-row {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 40px;
}
.product__description-row::after {
  position: absolute;
  right: 0;
  bottom: -2px;
  left: 0;
  content: "";
  height: 1px;
  background-color: #ececec;
}

.product__description-property {
  width: 98px;
}

.product__description-value {
  width: 162px;
  margin: 0;
}

.product__image {
  display: block;
  max-width: 100%;
  object-fit: contain;
  grid-area: product-image;
  margin: 0;
  margin-bottom: 14px;
}

.product__cost {
  grid-area: product-cost;
  margin: 0;
  margin-bottom: 22px;
  font-size: 17px;
  line-height: 1.4117647059;
  font-weight: 700;
  text-align: center;
}

.product__order {
  grid-area: product-order;
  align-self: start;
  width: 260px;
}

@media (min-width: 768px) {
  .product::after {
    height: 17px;
  }

  .product__wrapper {
    grid-template-areas: "product-title       product-title product-label" "product-text        product-image product-image" "product-description product-image product-image" "product-cost        product-image product-image" "product-order       product-image product-image";
    grid-template-columns: 292px 1fr 126px;
    column-gap: 42px;
    width: 768px;
    padding: 20px 50px 68px;
  }

  .product__title {
    margin-bottom: 38px;
  }

  .product__label {
    margin-top: 6px;
    margin-bottom: 60px;
    font-size: 17px;
    line-height: 1;
    text-align: center;
  }

  .product__text {
    margin-top: -12px;
    margin-bottom: 36px;
    font-size: 17px;
    line-height: 1.7647058824;
  }

  .product__description {
    margin-bottom: 58px;
  }

  .product__image {
    width: 334px;
    height: 404px;
    margin: 0;
  }

  .product__cost {
    margin-bottom: 32px;
    font-size: 20px;
    line-height: 1.2;
  }

  .product__order {
    width: 292px;
    font-size: 17px;
    line-height: 1.1764705882;
  }
}
@media (min-width: 1150px) {
  .product::after {
    width: 1050px;
    height: 23px;
    margin: 0 auto;
  }

  .product__wrapper {
    grid-template-areas: "product-label product-title       product-image" ".             product-text        product-image" ".             product-description product-image" ".             product-cost        product-image" ".             product-order       product-image";
    grid-template-columns: 120px 1fr 525px;
    column-gap: 55px;
    width: 1150px;
    padding: 40px 50px 96px;
  }

  .product__title {
    z-index: 1;
    grid-column: 2/4;
    margin-top: 60px;
    margin-bottom: 36px;
  }

  .product__label {
    align-self: center;
    width: 100px;
    margin: 0;
    margin-top: 18px;
    margin-left: 32px;
  }

  .product__text {
    margin: 0;
    margin-bottom: 50px;
  }

  .product__description {
    margin-bottom: 112px;
  }

  .product__description-row::after {
    bottom: -5px;
  }

  .product__image {
    width: 525px;
    height: 636px;
  }
}
.advantages__wrapper {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 5px;
  padding: 0 30px;
}

.advantages__title {
  margin: 0;
  margin-bottom: 22px;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
}

.advantages__item {
  margin-bottom: 23px;
  padding-top: 60px;
  font-size: 17px;
  line-height: 1.1764705882;
  font-weight: 700;
  color: #000000;
  background-repeat: no-repeat;
  background-size: auto;
}
.advantages__item--eco {
  background-image: url("../img/decor/advantages-icon-1.svg");
  background-position: top 5px left 8px;
}
.advantages__item--knit {
  background-image: url("../img/decor/advantages-icon-2.svg");
  background-position: top 8px left 3px;
}
.advantages__item--price {
  background-image: url("../img/decor/advantages-icon-3.svg");
  background-position: top 6px left;
}
.advantages__item--maker {
  background-image: url("../img/decor/advantages-icon-4.svg");
  background-position: top 10px left;
}
.advantages__item--like {
  background-image: url("../img/decor/advantages-icon-5.svg");
  background-position: top 11px left 7px;
}
.advantages__item--gift {
  background-image: url("../img/decor/advantages-icon-6.svg");
  background-position: top 7px left 3px;
}

.advantages__item:nth-child(even) {
  order: 1;
}

@media (min-width: 768px) {
  .advantages__wrapper {
    width: 768px;
    padding: 26px 50px;
  }

  .advantages__title {
    margin-bottom: 36px;
  }

  .advantages__list {
    grid-template-columns: 1fr 1fr;
  }

  .advantages__item {
    margin-bottom: 51px;
    font-size: 20px;
    line-height: 1.1;
  }

  .advantages__item:nth-child(even) {
    order: 0;
  }
}
@media (min-width: 1150px) {
  .advantages__wrapper {
    width: 1150px;
    margin-bottom: 0;
    padding: 36px 225px;
  }
}
.reviews {
  position: relative;
}
.reviews::after {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  height: 6px;
  background-image: url("../img/decor/mask-zigzag-s.svg");
  background-repeat: repeat-x;
  background-position: center;
  background-size: contain;
}

.reviews__wrapper {
  display: grid;
  grid-template-areas: "review-title  " "review-list   " "review-toggles" "review-button ";
  grid-template-columns: 1fr;
  width: 320px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 30px;
  padding-bottom: 50px;
}

.reviews__title {
  grid-area: review-title;
  margin: 0;
  margin-bottom: 14px;
}

.reviews__list {
  margin: 0;
  padding: 0;
  list-style: none;
  grid-area: review-list;
}

.reviews__item {
  margin: 0;
}

.reviews__text {
  margin: 0;
  margin-bottom: 34px;
}

.reviews__author {
  display: inline-block;
  margin-bottom: 32px;
  font-style: normal;
}

.reviews__author-name {
  display: block;
  font-size: 17px;
  line-height: 1.4117647059;
  font-weight: 700;
  color: #000000;
}

.reviews__author-email {
  display: block;
  text-decoration: none;
  color: #000000;
  display: inline-block;
  font-size: 17px;
  line-height: 1.7647058824;
  color: #444444;
}
.reviews__author-email:hover {
  color: #46c1ae;
}
.reviews__author-email:focus {
  outline: 2px solid #56c3b2;
  outline-offset: 2px;
}
.reviews__author-email:active {
  color: #63d1bb;
  outline: none;
}

.reviews__toggles {
  grid-area: review-toggles;
  margin-bottom: 38px;
}

.reviews__write {
  grid-area: review-button;
  align-self: start;
  width: 260px;
}

@media (min-width: 768px) {
  .reviews {
    margin: 0 auto;
    background-color: #ffffff;
    background-image: url("../img/decor/review-background-tablet.jpg");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 350px auto;
  }
  .reviews::after {
    height: 17px;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .reviews {
    background-image: url("../img/decor/review-background-tablet@2x.jpg");
    background-size: 350px auto;
  }
}
@media (min-width: 768px) {
  .reviews__wrapper {
    grid-template-areas: "review-title .           review-button " "review-list  review-list .             " "review-list  review-list review-toggles";
    grid-template-columns: 300px 1fr 176px;
    width: 768px;
    padding: 84px 50px 100px;
  }
}
@media (min-width: 768px) {
  .reviews__title {
    margin-bottom: 38px;
  }
}
@media (min-width: 768px) {
  .reviews__list {
    grid-column: 1/-1;
  }
}
@media (min-width: 768px) {
  .reviews__text {
    margin-bottom: 62px;
    font-size: 17px;
    line-height: 1.7647058824;
  }
}
@media (min-width: 768px) {
  .reviews__author-name {
    margin-bottom: 2px;
    font-size: 18px;
    line-height: 1.3333333333;
  }
}
@media (min-width: 768px) {
  .reviews__toggles {
    z-index: 1;
  }
}
@media (min-width: 768px) {
  .reviews__write {
    width: 175px;
    margin-top: -4px;
    font-size: 17px;
    line-height: 1.1764705882;
  }
}
@media (min-width: 1150px) {
  .reviews {
    width: 1150px;
    background-image: url("../img/decor/review-background-desktop.jpg");
    background-position: top left 50px;
  }
  .reviews::after {
    width: 1050px;
    height: 23px;
    margin: 0 auto;
  }
}
@media (min-width: 1150px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1150px) and (min-resolution: 2dppx) {
  .reviews {
    background-image: url("../img/decor/review-background-desktop@2x.jpg");
  }
}
@media (min-width: 1150px) {
  .reviews__wrapper {
    width: 1150px;
    padding: 80px 50px 154px 224px;
  }
}
@media (min-width: 1150px) {
  .reviews__title {
    margin-bottom: 34px;
  }
}
@media (min-width: 1150px) {
  .reviews__text {
    margin-bottom: 45px;
  }
}
@media (min-width: 1150px) {
  .reviews__author-name {
    font-size: 17px;
    line-height: 1.4117647059;
  }
}
@media (min-width: 1150px) {
  .reviews__write {
    margin: 0;
  }
}
.slider__item--hidden {
  display: none;
}

.slider__toggles {
  z-index: 1;
  display: flex;
}

.slider__toggle {
  display: block;
  width: 130px;
  height: 52px;
  padding: 0;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px 26px;
  border: 1px solid #ececec;
  cursor: pointer;
}
.slider__toggle--previous {
  background-image: url("../img/decor/button-arrow-left.svg");
}
.slider__toggle--forward {
  background-image: url("../img/decor/button-arrow-right.svg");
}
.slider__toggle:focus {
  outline: 2px solid #56c3b2;
  outline-offset: -2px;
}
.slider__toggle:active {
  outline: none;
}

@media (min-width: 768px) {
  .slider__toggle {
    width: 88px;
    height: 44px;
    border: 0;
  }
}
.contacts__wrapper {
  display: grid;
  grid-template-areas: ".           contact-title   contact-title   .          " ".           contact-address contact-address .          " "contact-map contact-map     contact-map     contact-map" ".           contact-button  contact-button  .          ";
  grid-template-columns: 1fr 160px 160px 1fr;
  margin: 0 auto;
  margin-bottom: 28px;
  padding: 10px 0;
}

.contacts__title {
  grid-area: contact-title;
  margin: 0;
  margin-bottom: 28px;
  padding: 0 30px;
}

.contacts__list {
  grid-area: contact-address;
  display: flex;
  flex-direction: column;
  margin-bottom: 62px;
  padding: 0 30px;
  font-style: normal;
  font-size: 14px;
  line-height: 2.1428571429;
}

.contacts__item {
  display: flex;
  margin: 0;
}
.contacts__item:not(:last-child) {
  margin-bottom: 30px;
}

.contacts__text {
  width: 60px;
  margin-right: 18px;
}

.contacts__email {
  display: block;
  text-decoration: none;
  color: #000000;
  position: relative;
  color: #444444;
}
.contacts__email::after {
  position: absolute;
  right: 0;
  bottom: 4px;
  left: 0;
  content: "";
  height: 1px;
  background-color: #62d1ba;
}
.contacts__email:hover {
  color: #46c1ae;
}
.contacts__email:focus {
  outline: 2px solid #56c3b2;
  outline-offset: 2px;
}
.contacts__email:active {
  color: #63d1bb;
  outline: none;
}
.contacts__email:hover::after {
  background-color: #46c1ae;
}
.contacts__email:active::after {
  background-color: rgba(70, 193, 174, 0.1);
}

.contacts__address {
  width: 180px;
}

.contacts__map {
  grid-area: contact-map;
  margin-bottom: 42px;
}

.contacts__write {
  grid-area: contact-button;
  justify-self: center;
  width: 260px;
}

@media (min-width: 768px) {
  .contacts__wrapper {
    position: relative;
    grid-template-columns: 1fr 384px 384px 1fr;
    margin-bottom: 16px;
    padding: 40px 0;
  }
  .contacts__wrapper::after {
    position: absolute;
    top: 16px;
    right: 54px;
    content: "";
    width: 47px;
    height: 81px;
    background-image: url("../img/decor/contact-flag.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .contacts__title {
    margin-bottom: 48px;
    padding: 0 50px;
  }

  .contacts__list {
    flex-direction: row;
    margin-bottom: 48px;
    padding: 0 50px;
    font-size: 17px;
    line-height: 1.7647058824;
  }

  .contacts__item {
    width: 332px;
    margin: 0;
  }

  .contacts__email::after {
    bottom: 30px;
  }

  .contacts__address {
    width: 230px;
  }

  .contacts__map {
    margin-bottom: 56px;
  }

  .contacts__write {
    align-self: start;
    width: 230px;
    font-size: 17px;
    line-height: 1.1764705882;
  }
}
@media (min-width: 1150px) {
  .contacts__wrapper {
    grid-template-areas: "contact-title   contact-map" "contact-address contact-map" "contact-button  contact-map";
    grid-template-columns: 400px 527px;
    width: 1150px;
    padding: 42px 50px 32px 175px;
  }
  .contacts__wrapper::after {
    top: 102px;
    right: auto;
    left: 112px;
  }

  .contacts__title {
    align-self: center;
    margin-top: 48px;
    margin-bottom: 6px;
  }

  .contacts__list {
    flex-direction: column;
    margin-bottom: 28px;
  }

  .contacts__email::after {
    bottom: -6px;
  }

  .contacts__write {
    margin-right: 68px;
  }
}
.map {
  display: grid;
  grid-template-areas: "map";
}

.map__image {
  display: block;
  max-width: 100%;
  object-fit: contain;
  grid-area: map;
  width: 320px;
  height: 454px;
  margin: 0 auto;
}

.map__image-interactive {
  display: block;
  max-width: 100%;
  object-fit: contain;
  grid-area: map;
  width: 100%;
  height: 100%;
  border: 0;
}

@media (min-width: 768px) {
  .map__image {
    width: 768px;
    height: 457px;
  }
}
@media (min-width: 1150px) {
  .map__image {
    width: 527px;
    height: 457px;
  }
}
.intro-inner {
  background-color: #f1f1f1;
}

.intro-inner__wrapper {
  min-height: 176px;
  padding: 72px 30px;
}

.intro-inner__title {
  margin: 0 auto;
  text-align: center;
}

@media (min-width: 768px) {
  .intro-inner {
    position: relative;
  }
  .intro-inner::after {
    position: absolute;
    bottom: -12px;
    content: "";
    width: 100%;
    height: 24px;
    background-image: url("../img/decor/mask-zigzag-m.svg");
    background-repeat: repeat-x;
    background-position: center;
    background-size: contain;
  }

  .intro-inner__wrapper {
    min-height: 160px;
    margin-bottom: 48px;
    padding: 36px 50px;
  }
}
@media (min-width: 1150px) {
  .intro-inner::after {
    bottom: -18px;
    height: 34px;
    background-image: url("../img/decor/mask-zigzag-l.svg");
  }

  .intro-inner__wrapper {
    min-height: 190px;
    margin-bottom: 78px;
    padding: 36px 50px;
  }
}
.catalog__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 30px;
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 30px;
}

@media (min-width: 768px) {
  .catalog__wrapper {
    width: 768px;
    padding: 30px 50px;
    margin-bottom: 24px;
  }

  .catalog__list {
    row-gap: 54px;
  }
}
@media (min-width: 1150px) {
  .catalog__wrapper {
    width: 1150px;
    padding: 50px;
    margin-bottom: 8px;
  }

  .catalog__list {
    grid-template-columns: repeat(auto-fit, 316px);
    column-gap: 50px;
  }
}
.product-card {
  display: grid;
  grid-template-areas: "card-image      " "card-description";
  grid-template-columns: 1fr;
}
.product-card:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}
.product-card:active {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.product-card__image {
  display: block;
  max-width: 100%;
  object-fit: contain;
  grid-area: card-image;
  width: 260px;
  height: 195px;
  margin: 0;
}

.product-card__description {
  position: relative;
  grid-area: card-description;
  display: grid;
  grid-template-areas: "card-title    card-title   " "card-property card-property" "card-cost     card-cart    ";
  grid-template-columns: 1fr 1fr;
  padding: 28px 28px 20px;
  border: 1px solid #ececec;
}
.product-card__description::after {
  position: absolute;
  right: 28px;
  bottom: 72px;
  left: 28px;
  content: "";
  height: 1px;
  background-color: #ececec;
}

.product-card__title {
  grid-area: card-title;
  margin: 0;
  margin-bottom: 6px;
  font-size: 17px;
  line-height: 1.4117647059;
  font-weight: 700;
  color: #000000;
}

.product-card__link {
  display: block;
  text-decoration: none;
  color: #000000;
  display: inline-block;
}
.product-card__link:hover {
  color: rgba(0, 0, 0, 0.6);
}
.product-card__link:focus {
  outline: 2px solid #56c3b2;
  outline-offset: 2px;
}
.product-card__link:active {
  color: rgba(0, 0, 0, 0.3);
  outline: none;
}

.product-card__property {
  grid-area: card-property;
  margin: 0;
  margin-bottom: 42px;
  font-size: 13px;
  line-height: 2.3076923077;
}

.product-card__cost {
  grid-area: card-cost;
  margin: 0;
  line-height: 1.6;
  font-weight: 700;
  color: #000000;
}

.product-card__cart {
  display: block;
  text-decoration: none;
  color: #000000;
  grid-area: card-cart;
  justify-self: end;
  width: 40px;
  height: 40px;
  margin-top: -12px;
  margin-right: -10px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("../img/decor/menu-cart.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 19px;
}
.product-card__cart:focus {
  outline: 2px solid #56c3b2;
  outline-offset: 2px;
}
.product-card__cart:active {
  outline: none;
}

@media (min-width: 768px) and (max-width: 1150px) {
  .product-card {
    grid-template-areas: "card-image card-description";
    grid-template-columns: 1fr 1fr;
  }

  .product-card__description {
    padding: 28px 32px 20px;
    grid-template-rows: min-content 1fr auto;
  }
}
@media (min-width: 768px) {
  .product-card__image {
    width: 334px;
    height: 334px;
  }

  .product-card__title {
    font-size: 20px;
    line-height: 1.2;
  }

  .product-card__property {
    font-size: 15px;
    line-height: 2;
  }

  .product-card__cost {
    font-size: 17px;
    line-height: 1.4117647059;
  }
}
@media (min-width: 1150px) {
  .product-card__description {
    grid-template-rows: min-content 1fr auto;
    min-height: 196px;
  }

  .product-card__image {
    width: 316px;
    height: 462px;
  }

  .product-card__property {
    margin-bottom: 30px;
  }
}
.production__wrapper {
  display: grid;
  grid-template-areas: "production-title " "production-video " "production-text  " "production-button";
  grid-template-columns: 1fr;
  width: 260px;
  margin: 0 auto;
  margin-bottom: 58px;
  padding: 20px 0 32px;
  border: 1px solid #ececec;
}
.production__wrapper:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}
.production__wrapper:active {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.production__title {
  position: relative;
  grid-area: production-title;
  margin: 0;
  margin-bottom: 26px;
  padding-left: 90px;
  font-size: 17px;
  line-height: 1.4117647059;
  font-weight: 700;
  color: #000000;
}
.production__title::before {
  position: absolute;
  top: 50%;
  left: 32px;
  content: "";
  width: 32px;
  height: 22px;
  background-image: url("../../img/video/video-camera.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: translateY(-50%);
}

.production__video {
  grid-area: production-video;
  width: 260px;
  height: 150px;
  margin-bottom: 36px;
}

.production__text {
  grid-area: production-text;
  margin: 0;
  margin-bottom: 40px;
  padding-left: 34px;
  font-size: 13px;
  line-height: 1.8461538462;
}

.production__order {
  grid-area: production-button;
  justify-self: center;
  width: 192px;
  padding: 16px 10px;
  line-height: 0.8888888889;
}

@media (min-width: 768px) {
  .production__wrapper {
    grid-template-areas: "production-video " "production-title " "production-text  " "production-button";
    width: 668px;
    margin-bottom: 64px;
    padding: 0;
    padding-bottom: 46px;
  }

  .production__video {
    width: 668px;
    height: 455px;
    margin-bottom: 40px;
  }

  .production__title {
    margin-bottom: 24px;
    padding-left: 106px;
    font-size: 20px;
    line-height: 1.2;
  }
  .production__title::before {
    left: 40px;
  }

  .production__text {
    padding: 0 40px;
    font-size: 15px;
    line-height: 2;
  }

  .production__order {
    width: 584px;
    font-size: 17px;
    line-height: 0.9411764706;
  }
}
@media (min-width: 1150px) {
  .production__wrapper {
    grid-template-areas: "production-video production-title " "production-video production-text  " "production-video production-button";
    grid-template-columns: 684px 1fr;
    grid-template-rows: min-content 1fr auto;
    column-gap: 76px;
    width: 1050px;
    margin-bottom: 102px;
    padding: 0;
  }

  .production__video {
    width: 682px;
    height: 455px;
    margin: 0;
  }

  .production__title {
    width: 230px;
    padding-left: 0;
    padding-top: 60px;
    margin-top: 36px;
  }
  .production__title::before {
    top: 20px;
    left: 0;
  }

  .production__text {
    padding: 0;
    margin: 0;
  }

  .production__order {
    justify-self: start;
    width: 230px;
    margin-bottom: 60px;
  }
}
.video-player {
  position: relative;
  background-color: #c6c6c6;
}

.video-player__link {
  display: block;
  text-decoration: none;
  color: #000000;
}

.video-player__preview {
  display: block;
  max-width: 100%;
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-player__play {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100px;
  height: 78px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("../img/video/video-button.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 0;
  cursor: pointer;
}
.video-player__play:focus {
  outline: 4px solid #444444;
  outline-offset: 2px;
}
.video-player__play:active {
  outline: none;
}

.form__wrapper {
  margin-bottom: 56px;
}

@media (min-width: 768px) {
  .form__wrapper {
    margin-bottom: 50px;
  }
}
@media (min-width: 1150px) {
  .form__wrapper {
    margin-bottom: 46px;
  }
}
.order-form__wrapper {
  display: grid;
  grid-template-areas: "form-title" "form-field";
  grid-template-columns: 1fr;
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
}
.order-form__wrapper--header {
  margin-bottom: 12px;
  padding: 18px 30px;
}

.order-form__intro {
  margin: 0;
  font-size: 13px;
  line-height: 1.8461538462;
}

.order-form__fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

.order-form__fieldset--type {
  margin-bottom: 10px;
}

.order-form__fieldset--type .order-form__list {
  padding-top: 30px;
  padding-bottom: 20px;
}

.order-form__fieldset--type .order-form__item {
  min-height: 42px;
}
.order-form__fieldset--type .order-form__item:not(:last-child) {
  margin-bottom: 10px;
}

.order-form__fieldset--color {
  margin-bottom: 10px;
}

.order-form__fieldset--color .order-form__list {
  padding-top: 24px;
  padding-bottom: 24px;
}

.order-form__fieldset--color .order-form__item {
  min-height: 38px;
}
.order-form__fieldset--color .order-form__item:not(:last-child) {
  margin-bottom: 23px;
}

.order-form__fieldset--user {
  margin-bottom: 10px;
}

.order-form__fieldset--user .order-form__list {
  padding-top: 28px;
  padding-bottom: 24px;
}

.order-form__fieldset--user .order-form__item:not(:last-child) {
  margin-bottom: 22px;
}

.order-form__fieldset--user .order-form__input {
  width: 100%;
  min-height: 52px;
  padding: 10px;
  padding-left: 0;
  border: 0;
  border-bottom: 2px solid #000000;
}

.order-form__fieldset--phone {
  margin-bottom: 35px;
}

.order-form__fieldset--phone .order-form__input {
  width: 100%;
  min-height: 56px;
  padding: 10px 40px;
  padding-left: 0;
  background-image: url("../img/decor/form-phone.svg");
  background-repeat: no-repeat;
  background-position: center right 6px;
  background-size: 25px 24px;
  border: 0;
  border-bottom: 2px solid #000000;
}

.order-form__fieldset--mail {
  margin-bottom: 35px;
}

.order-form__fieldset--mail .order-form__input {
  width: 100%;
  min-height: 56px;
  padding: 10px 40px;
  padding-left: 0;
  background-image: url("../img/decor/form-mail.svg");
  background-repeat: no-repeat;
  background-position: center right 3px;
  background-size: 32px 21px;
  border: 0;
  border-bottom: 2px solid #000000;
}

.order-form__fieldset--wish {
  margin-bottom: 16px;
}

.order-form__fieldset--wish .order-form__title {
  margin-bottom: 22px;
}

.order-form__title {
  display: flex;
  align-items: center;
  grid-area: form-title;
  margin: 0;
  font-size: 17px;
  line-height: 0.9411764706;
  font-weight: 700;
  white-space: nowrap;
  text-transform: uppercase;
  color: #63d1bb;
}
.order-form__title::after {
  content: "";
  width: 100%;
  height: 1px;
  margin-left: 22px;
  background-color: #62d1ba;
}

.order-form__list {
  margin: 0;
  padding: 0;
  list-style: none;
  grid-area: form-field;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.order-form__item {
  display: flex;
  align-items: center;
}
.order-form__item--direction {
  flex-direction: column;
  align-items: flex-start;
}

.order-form__item:focus-within .order-form__label::before {
  border-color: #62d1ba;
}

.order-form__label {
  position: relative;
  font-size: 17px;
  line-height: 1.0588235294;
  font-weight: 700;
  color: #000000;
  cursor: pointer;
}
.order-form__label:hover {
  color: rgba(0, 0, 0, 0.6);
}
.order-form__label:active {
  color: rgba(0, 0, 0, 0.3);
}

.order-form__label--radio {
  padding: 4px;
  padding-left: 60px;
}
.order-form__label--radio:hover::before {
  border-color: #62d1ba;
}
.order-form__label--radio:active::before {
  border-color: rgba(68, 68, 68, 0.3);
}

.order-form__label--radio::before {
  position: absolute;
  top: 50%;
  left: -1px;
  content: "";
  width: 42px;
  height: 42px;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #444444;
  border-radius: 50%;
  transform: translateY(-50%);
}

.order-form__input:checked + .order-form__label--radio::before {
  background-image: radial-gradient(circle closest-side at center, #62d1ba 40%, rgba(0, 0, 0, 0) 41%);
}

.order-form__label--checkbox {
  padding: 10px;
  padding-left: 60px;
}
.order-form__label--checkbox:hover::before {
  border-color: #62d1ba;
}
.order-form__label--checkbox:active::before {
  border-color: rgba(68, 68, 68, 0.3);
}

.order-form__label--checkbox::before {
  position: absolute;
  top: 50%;
  left: 0;
  content: "";
  width: 38px;
  height: 38px;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #444444;
  transform: translateY(-50%);
}

.order-form__input:checked + .order-form__label--checkbox::before {
  background-image: url("../img/decor/form-checkbox.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 23px 16px;
}

.order-form__input,
.order-form__textarea {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-size: 17px;
  line-height: 1.0588235294;
  font-weight: 400;
  color: #444444;
}
.order-form__input::placeholder,
.order-form__textarea::placeholder {
  opacity: 0.3;
}
.order-form__input:hover,
.order-form__textarea:hover {
  border-color: #62d1ba;
}
.order-form__input:focus,
.order-form__textarea:focus {
  outline: none;
  border-color: #46c1ae;
}
.order-form__input:active,
.order-form__textarea:active {
  border-color: #62d1ba;
}

.order-form__textarea {
  width: 100%;
  min-height: 142px;
  padding: 17px;
  border: 2px solid #444444;
}

.order-form__info {
  margin: 0;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.1428571429;
}

.order-form__send {
  width: 260px;
  padding: 16px;
  font-size: 17px;
  line-height: 0.9411764706;
}

@media (min-width: 768px) {
  .order-form__wrapper {
    grid-template-areas: "form-title form-field";
    grid-template-columns: 168px 500px;
    align-items: start;
    width: 768px;
    padding: 0 50px;
  }
  .order-form__wrapper--header {
    grid-template-areas: "form-intro";
    grid-template-columns: 668px;
    padding: 18px 50px;
  }
  .order-form__wrapper--footer {
    grid-template-areas: "form-button form-info";
    grid-template-columns: 230px 1fr;
    align-items: center;
  }

  .order-form__intro {
    grid-area: form-intro;
    font-size: 17px;
    line-height: 1.7647058824;
  }

  .order-form__fieldset--colored {
    background-color: #f1f1f1;
  }

  .order-form__fieldset--type {
    margin-bottom: 15px;
  }

  .order-form__fieldset--type .order-form__wrapper {
    padding: 34px 50px;
  }

  .order-form__fieldset--type .order-form__title {
    margin-top: 18px;
  }

  .order-form__fieldset--type .order-form__list {
    padding: 0;
  }

  .order-form__fieldset--type .order-form__item {
    min-height: 52px;
  }
  .order-form__fieldset--type .order-form__item:not(:last-child) {
    margin-bottom: 24px;
  }

  .order-form__fieldset--colore {
    margin-bottom: 0;
  }

  .order-form__fieldset--color .order-form__wrapper {
    padding: 50px;
    padding-bottom: 26px;
  }

  .order-form__fieldset--color .order-form__title {
    margin-top: 18px;
  }

  .order-form__fieldset--color .order-form__list {
    padding: 0;
  }

  .order-form__fieldset--color .order-form__item {
    align-items: flex-start;
    width: 240px;
    min-height: 52px;
  }
  .order-form__fieldset--color .order-form__item:not(:nth-child(even)) {
    margin-right: 20px;
  }
  .order-form__fieldset--color .order-form__item:not(:last-child) {
    margin-bottom: 24px;
  }

  .order-form__fieldset--user .order-form__wrapper {
    padding: 40px 50px;
  }

  .order-form__fieldset--user .order-form__title {
    margin-top: 18px;
  }

  .order-form__fieldset--user .order-form__list {
    padding: 0;
  }

  .order-form__fieldset--user .order-form__item {
    align-items: center;
  }
  .order-form__fieldset--user .order-form__item:not(:last-child) {
    margin-bottom: 24px;
  }

  .order-form__fieldset--user .order-form__label {
    margin-right: 24px;
  }

  .order-form__fieldset--user .order-form__input {
    padding: 10px 18px;
  }

  .order-form__fieldset--phone {
    margin-bottom: 0;
  }

  .order-form__fieldset--phone .order-form__wrapper {
    padding: 46px 50px 10px;
  }

  .order-form__fieldset--phone .order-form__title {
    margin-top: 20px;
  }

  .order-form__fieldset--phone .order-form__input {
    grid-area: form-field;
    padding: 10px 18px;
    padding-right: 64px;
    background-color: #f1f1f1;
    background-position: center right 26px;
  }

  .order-form__fieldset--mail {
    margin-bottom: 0;
  }

  .order-form__fieldset--mail .order-form__wrapper {
    padding: 50px;
    padding-top: 10px;
  }

  .order-form__fieldset--mail .order-form__title {
    margin-top: 20px;
  }

  .order-form__fieldset--mail .order-form__input {
    grid-area: form-field;
    padding: 10px 18px;
    padding-right: 64px;
    background-color: #f1f1f1;
    background-position: center right 22px;
  }

  .order-form__fieldset--wish {
    margin-bottom: 2px;
  }

  .order-form__fieldset--wish .order-form__wrapper {
    padding: 50px;
  }

  .order-form__fieldset--wish .order-form__title {
    margin-top: 20px;
  }

  .order-form__fieldset--wish .order-form__textarea {
    grid-area: form-field;
  }

  .order-form__title::after {
    content: initial;
  }

  .order-form__list--direction {
    flex-direction: row;
  }

  .order-form__item--direction {
    flex-direction: row;
  }

  .order-form__label {
    font-size: 19px;
    line-height: 0.9473684211;
  }

  .order-form__label--radio {
    padding: 16px;
    padding-left: 78px;
  }

  .order-form__label--radio::before {
    left: 1px;
    width: 52px;
    height: 52px;
  }

  .order-form__label--checkbox {
    padding: 16px;
    padding-left: 80px;
  }

  .order-form__label--checkbox::before {
    width: 52px;
    height: 52px;
    background-size: 32px 22px;
  }

  .order-form__input,
.order-form__textarea {
    font-size: 19px;
    line-height: 0.9473684211;
  }

  .order-form__info {
    grid-area: form-info;
    justify-self: end;
    margin: 0;
    font-size: 17px;
    line-height: 1.7647058824;
  }

  .order-form__send {
    grid-area: form-button;
    width: 230px;
    margin: 0;
  }
}
@media (min-width: 1150px) {
  .order-form__wrapper {
    grid-template-columns: 175px 702px;
    width: 1150px;
  }
  .order-form__wrapper--header {
    grid-template-areas: ". form-intro";
    grid-template-columns: 175px 702px;
    padding: 38px 50px 28px;
    margin-bottom: 0;
  }
  .order-form__wrapper--footer {
    grid-template-areas: ". form-button form-info";
    grid-template-columns: 175px 230px 472px;
  }

  .order-form__title {
    margin-top: 20px;
    margin-left: 60px;
  }

  .order-form__fieldset--color .order-form__wrapper {
    grid-template-columns: 175px 1fr;
  }

  .order-form__fieldset--color .order-form__item:not(:last-child) {
    margin-right: 22px;
  }

  .order-form__fieldset--phone .order-form__input {
    background-position: center right 10px;
  }

  .order-form__fieldset--mail .order-form__input {
    background-position: center right 6px;
  }
}
/*# sourceMappingURL=style.css.map */